<!DOCTYPE html>
<div class="">
  <nav class="navbar navbar-fixed-top sticky-top navbar-expand-sm navbar-expand-md navbar-expand-xl navbar-expand-lg navbar-light bg-light collapse navbar-collapse">
    <a class="navbar-brand" href="#"><img src="./images/Kari Logo.svg" alt="Flower" class="flower"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
                   <li class="">
                       <a ui-sref="coach" class="home-links-nav bckd-img1" id="bckd-img1">Coaching</a>
                   </li>
                   <li class="nav-item active">
                       <a ui-sref="work" class="home-links-nav bckd-img5" id="bckd-img2">Work With Me</a>
                   </li>
                   <li class="nav-item active">
                       <a ui-sref="start" class="home-links-nav bckd-img3" id="bckd-img3">Start Here</a>
                   </li>
                   <li class="nav-item active">
                       <a ui-sref="test" class="home-links-nav bckd-img5" id="bckd-img5">Success Stories</a>
                   </li>
                   <li class="nav-item active">
                       <a ui-sref="blog" class="home-links-nav bckd-img4" id="bckd-img4">Blog</a>
                   </li>
        </li>
      </ul>
    </div>
  </nav>
<div class="title-bar blog-grid">
  <h1 class="page-title title">Coaches</h1>
</div>

<div class="parallax-3"></div>
<div class="coach-grid-1">
  <div class="coach-space-top"></div>
  <!-- <h1 class="coach-header-1">Are you getting in your way?</h1> -->
  <div class="coach-space-bottom"></div>
</div>

<div class="coach-grid-2">
  <p class="first-p"> We are going to figure out what’s important…… <br/></br/>
Together we will build a strong understanding of who you are, what you stand for, what’s important to you and why. We figure out what is getting in your way and how to eliminate it.
Challenge and change the way you think…..<br/></br/>
You’re believing something that isn’t true and it’s getting in the way. We will identify what your limiting beliefs are and ultimately change what you think is possible.<br/></br/>
Find the best way for you to start putting things into motion……<br/></br/>
There are a million ways to d o something, so do it in the way that resonates with you. We’ll figure you what’s the best way for you to get started and get shit done!<br/></br/>
You will create your own tools to create your life when our work is done.<br/></br/>
                                                             <strong>Build congruency: </strong><br/></br/>
You are going to start doing what you say you’re going to do and start honoring what you say is important.<br/></br/>
You don’t need coaching. You want MY coaching because you want to create things more powerfully, thoughtfully, efficiently and quickly. <br/></br/>
 What you are going to get is clarity (get a crystal clear vision for you dreams).  Hope, renewed energy, become empowered ( master of your mindset). Tap deeper into your intuition  (inner -wise self) to guide you.<br/></br/>
 <em>Believe in yourself.</em><br/></br/>
 <em><strong>I believe in you!</strong></em></p>
</div>


<div class="well-button">
  <div class="well-space-top"></div>
  <!-- <h1 class="well-cta-text">Want to find out more?</h1> -->
  <div class="well-space-middle"></div>
  <button class="Well-cta btn btn-default" type="button" name="button" ui-sref="work">Then let’s start a conversation.</button>
  <div class="well-space-bottom"></div>
</div>

<div class="parallax-3"></div>

</div>

</div>

<script type="text/javascript">
$(document).ready(function(){
    $(this).scrollTop(0);
});

TweenMax.from(".title", 2, {
  opacity:0,
  scale: 0,
  ease: Power0.easeOut
});
</script>
