<!DOCTYPE html>
<div class="page-body">
  <nav class="navbar navbar-fixed-top sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="./images/Kari Logo.svg" alt="Flower" class="flower"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
                     <a ui-sref="life" class="home-links-nav bckd-img1" id="bckd-img6">Life</a>
                 </li>
                   <li class="">
                       <a ui-sref="coach" class="home-links-nav bckd-img1" id="bckd-img1">Coaching</a>
                   </li>
                   <li class="nav-item active">
                       <a ui-sref="wellness" class="home-links-nav bckd-img5" id="bckd-img5">Wellness</a>
                   </li>
                   <!-- <li class="">
                       <a ui-sref="about" class="home-links bckd-img2" id="bckd-img2">About Me</a>
                   </li> -->
                   <li class="nav-item active">
                       <a ui-sref="start" class="home-links-nav bckd-img3" id="bckd-img3">Start Here</a>
                   </li>
                   <li class="nav-item active">
                       <a ui-sref="work" class="home-links-nav bckd-img5" id="bckd-img2">Work With Me</a>
                   </li>
                   <li class="nav-item active">
                       <a ui-sref="test" class="home-links-nav bckd-img5" id="bckd-img5">Success Stories</a>
                   </li>
                   <li class="nav-item active">
                       <a ui-sref="blog" class="home-links-nav bckd-img4" id="bckd-img4">Blog</a>
                   </li>
        </li>
      </ul>
    </div>
  </nav>

<div class="title-bar-life">
  <h1 class="page-title-life">Life</h1>
</div>
<div class="words-life">
  <h1 class="words-title">Words</h1>
  <p class="words-paragraph">This is where Kari's words are going to go.</p>
</div>
<div class="life-pics">
<img src="./images/nest.jpg" alt="" class="life-pic">
<img src="./images/nest.jpg" alt="" class="life-pic">
</div>
<form class="questionaire"  ng-submit="addLead(client)">
  <input class="life-input" placeholder="Name" ng-model="client.name">
  <br />
  <input class="life-input" placeholder="Email" ng-model="client.email">
  <br />
  <button class="life-input" type="submit" name="button" ng-click="addLead(client)" ui-sref="quest">Submit</button>
</form>
</div>
