<!DOCTYPE html>
<div class="page-body">
<nav class="navbar navbar-fixed-top sticky-top navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="./images/Kari Logo.svg" alt="Flower" class="flower"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
                 <li class="">
                     <a ui-sref="coach" class="home-links-nav bckd-img1" id="bckd-img1">Coaching</a>
                 </li>
                 <li class="nav-item active">
                     <a ui-sref="work" class="home-links-nav bckd-img5" id="bckd-img2">Work With Me</a>
                 </li>
                 <li class="nav-item active">
                     <a ui-sref="start" class="home-links-nav bckd-img3" id="bckd-img3">Start Here</a>
                 </li>
                 <li class="nav-item active">
                     <a ui-sref="test" class="home-links-nav bckd-img5" id="bckd-img5">Success Stories</a>
                 </li>
                 <li class="nav-item active">
                     <a ui-sref="blog" class="home-links-nav bckd-img4" id="bckd-img4">Blog</a>
                 </li>
                 <li class="nav-item active">
                     <a ui-sref="about" class="home-links-nav bckd-img4" id="bckd-img4">About</a>
                 </li>
      </li>
    </ul>
  </div>
</nav>
<!-- <div class="">
  <h1 class="quest-title title">Are you ready for your best life?</h1>
  <img src="./images/KariSmooth.jpg" alt="" class="kari-quest">
</div> -->
<div class="parallax-3"></div>
<div class="quest">
  <div class="quest-space-top"></div>
  <h1 class="quest-title">Survey page</h1>
  <div class="quest-space-middle"></div>
  <p class="quest-intro">Please fill out the questions below about what you would like to change or  about the beautiful life you would like to create for you.
    <br/></br/>
I will reach out to you with an article book or a referral. If there is a way that I can support you we will schedule a powerful conversation. This is not a sales pitch by the way. It's about getting clarity. Whether we work together or not you will go away with at least one powerful insight as to what is holding you back from achieving your dreams. </p>
<div class="quest-space-bottom"></div>
</div>
<div class="parallax-3"></div>

<form class="questionaire" ng-submit="addQuest(why)">
  <div class="form-group">
    <label class="form-control-label" for="formGroupExampleInput">1. What success would you see personally and professionally from our working together? What does that feel like? Look like? What are you doing? (Get specific.) If you could, would you like to look back in 6 months and say to yourself "I did it! Working with Kari was the turning point that changed everything!". </label>
    <input type="text" class="form-control" id="formGroupExampleInput1" placeholder="Answer" ng-model="why.q1">
  </div>
  <div class="form-group">
    <label class="form-control-label" for="formGroupExampleInput2">2. What is your unspoken dream? The one that seems impossible? But if you were to achieve it (the one that would change everything), what will having this do for you? What's most important about this?</label>
    <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Answer" ng-model="why.q2">
  </div>
  <div class="form-group">
    <label class="form-control-label" for="formGroupExampleInput2">3. What is the one thing you could do today to bring you one step closer to that dream?</label>
    <input type="text" class="form-control" id="formGroupExampleInput3" placeholder="Answer" ng-model="why.q3">
  </div>
  <div class="form-group">
    <label class="form-control-label" for="formGroupExampleInput2">4. What is it that comes completely natural to you? What do you do with such ease and grace that it is a joy and seems effortless? How can doing what you love utilize your greatest strengths? </label>
    <input type="text" class="form-control" id="formGroupExampleInput4" placeholder="Answer" ng-model="why.q4">
  </div>
  <div class="form-group">
    <label class="form-control-label" for="formGroupExampleInput2">5. What are 5 things you love about your life?</label>
    <input type="text" class="form-control" id="formGroupExampleInput5" placeholder="Answer" ng-model="why.q5">
  </div>
  <div class="form-group">
    <label class="form-control-label" for="formGroupExampleInput2">Full Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput5" placeholder="Full Name" ng-model="why.q6">
  </div>
  <div class="form-group">
    <label class="form-control-label" for="formGroupExampleInput2">Email</label>
    <input type="text" class="form-control" id="formGroupExampleInput5" placeholder="Email" ng-model="why.q7">
  </div>
  <div class="form-group">
    <label class="form-control-label" for="formGroupExampleInput2">Phone Number</label>
    <input type="text" class="form-control" id="formGroupExampleInput5" placeholder="Phone Number" ng-model="why.q8">
  </div>
  <div class="input-group-btn">
    <button class="btn btn-default" type="button" name="button" ng-click="addQuest(why)" ui-sref="thanks">Submit</button>
  </div>
</form>
<div class="parallax-3"></div>
</div>


<script type="text/javascript">

TweenMax.from(".title", 2, {
  opacity:0,
  scale: 0,
  ease: Power0.easeOut
});

$(document).ready(function(){
    $(this).scrollTop(0);
});

</script>
