<!DOCTYPE html>
<div class="page-body">
  <nav class="navbar navbar-fixed-top sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="./images/Kari Logo.svg" alt="Flower" class="flower"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="">
          <a ui-sref="coach" class="home-links-nav bckd-img1" id="bckd-img1">Coaching</a>
        </li>
        <li class="nav-item active">
          <a ui-sref="work" class="home-links-nav bckd-img5" id="bckd-img2">Work With Me</a>
        </li>
        <li class="nav-item active">
          <a ui-sref="start" class="home-links-nav bckd-img3" id="bckd-img3">Start Here</a>
        </li>
        <li class="nav-item active">
          <a ui-sref="test" class="home-links-nav bckd-img5" id="bckd-img5">Success Stories</a>
        </li>
        <li class="nav-item active">
          <a ui-sref="blog" class="home-links-nav bckd-img4" id="bckd-img4">Blog</a>
        </li>
        <li class="nav-item active">
          <a ui-sref="about" class="home-links-nav bckd-img4" id="bckd-img4">About</a>
        </li>
        </li>
      </ul>
    </div>
  </nav>
  <!-- <div class="title-bar-start start-grid">
      <h1 class="page-title-start title">Start Here</h1>
    </div> -->
  <div class="parallax-3"></div>
  <div class="banner-1">
    <h1 class="imagine title">Imagine...</h1>
  </div>
  <div class="parallax-3"></div>
  <div class="start-1">
    <p class="if">...if we all had someone in our lives that believed in us, who truly listened and cared deeply about seeing us achieve our desires and dreams. Someone who held us accountable, who challenged us to reach new heights and gave support. How frickin’ cool
      would that be…</p>
  </div>
  <div class="parallax-3"></div>
  <div class="strong">
    <div class="strong-top"></div>
    <p class="if-2">...If you dream of something more, but you have no idea how to do it, I can help. This is where I come in as your coach. I am fiercely committed to seeing you become the best version of yourself the beautiful person you are: Fearless and Unstoppable.
      For you and for others who you touch in your life...</p>
    <div class="strong-bottom"></div>
  </div>
  <div class="parallax-3"></div>
  <div class="start-3">
    <p class="if">It’s your time. <br />Are you ready to achieve unstoppable success and get the results you want? <br />What are you waiting for? <br />When will be the perfect time?<br /> NOW! <br />TODAY!<br /> You are worth it. <br />Let your light shine.<br />      I believe in you!!!</p>
    <p class="testimonials" id="imonials"><a ui-sref="test">Hear what my clients have to say.</a></p>
  </div>
  <!-- <div class="parallax-3"></div>
    <div class="test-link" id="test">
      <p class="testimonials" id="imonials"><a ui-sref="test">Hear what my clients have to say.</a></p>
    </div> -->
  <div class="parallax-3"></div>
  <div class="parallax">
    <p class="unstoppable">Unstoppable Life!</p>
  </div>
  <div class="parallax-3"></div>
  <div class="grid-1">
    <div class="column-1">
      <img src="./images/bullmand5.png" alt="" class="somebody slide-in1 align-right1">
      <!-- <img src="./images/mandala.png" alt="" class="mandala"> -->
    </div>
    <div class="column-2">

      <p class="if-3">We are on this journey together. Together we determine what’s important to you and why. Figure out what is getting in your way and how to eliminate it. We’ll figure out the best way for you to get started and get shit done. I will challenge you
        to look at yourself and your life differently so you will begin to find alignment with your dream life. You will become the fearless unstoppable person you’ve always wanted to be.
      </p>
    </div>

  </div>

  <!-- </div> -->
  <div class="parallax-3"></div>
  <div class="start-5">
    <div class="life-container">
      <p class="cta"><a ui-sref="life">Self-Love<br /> Coaching</a></p>
    </div>
    <div class="coach-container">
      <p class="cta"><a ui-sref="coaches">For<br /> Coaches</a></p>
    </div>
  </div>
  <div class="parallax-3"></div>
  <div class="grid-1a">
    <div class="column-1a">
      <h1 class="if-3a">Fearless and Honest</h1>
      <p class="if-3b">I am a no bones around kind of person. I will say what needs to be said from a loving safe place. I truly listen to you and you will be heard with an open heart and I care for you unconditionally. I am fiercely committed to you. I will challenge
        you to look at yourself and your life differently. My coaching comes from a place of honesty and depth.</p>
    </div>
    <div class="column-2a">
      <img src="./images/KariOceanSig.png" alt="" class="somebody2">
    </div>
  </div>


  <div class="parallax-3"></div>
  <!-- <div class="social-box">
      <h1 class="social">Social</h1>
    </div>

    <div class="container-fluid social-cards view overlay hm-teal-slight">
      <div class="card post-cards col-lg-4 view overlay hm-teal-slight" style="width: 20rem;" ng-repeat="post in posts">
        <a ng-click="getPost(post._id)" href="{{post.link}}" target="_blank" class="top"><img class="card-img-top img-fluid" src="{{post.pic[0].url}}" alt="Card image cap"></a>
        <div class="card-body">
          <a href="{{post.link}}" target="_blank">
            <p class="card-text">{{post.name}}</p>
            <a href="{{post.link}}"><img class="social-icon" src="{{post.icon}}" alt=""></a>
          </a>
        </div>
      </div> -->
  <!-- <div class="clearfix" ng-if="$index%3==1"></div>
    <div ng-repeat-end=""></div> -->
  <!-- </div> -->



  <!-- <div class="container-fluid social-cards">
      <div class="card post-cards" style="width: 20rem;" ng-repeat="post in posts">
        <a ng-click="getPost(post._id)" href="{{post.link}}" target="_blank" class="top"><img class="card-img-top" src="{{post.pic[0].url}}" alt="Card image cap"></a>
        <div class="card-body">
          <a href="{{post.link}}" target="_blank">
            <p class="card-text">{{post.name}}</p>
            <a href="{{post.link}}"><img class="social-icon" src="{{post.icon}}" alt=""></a>
          </a>
        </div>
      </div>
    </div> -->


  <div class="social-box">
    <h1 class="social">Social</h1>
    <!-- <div class="spacer-box1"></div>
    <div class="box-1">
      <img src="./images/Kari Squating.jpg" alt="" class="soc-exp">
    </div>
     <div class="box-2">
      <img src="./images/Kari Squating.jpg" alt="" class="soc-exp">
    </div>
    <div class="box-3">
      <img src="./images/Kari Squating.jpg" alt="" class="soc-exp">
    </div> -->

    <div class="card sc-1" style="width: 20rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card sc-2" style="width: 20rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card sc-3" style="width: 20rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <!-- <div class="card box-1" style="width: 20rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card box-2" style="width: 20rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card box-3" style="width: 20rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->

    <div class="spacer-box2"></div>

    <div class="card sc-4" style="width: 20rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card sc-5" style="width: 20rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card sc-6" style="width: 20rem;">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <!-- <div class="box-4">
      <img src="./images/Kari Squating.jpg" alt="" class="soc-exp">
    </div>
    <div class="box-5">
      <img src="./images/Kari Squating.jpg" alt="" class="soc-exp">
    </div>
    <div class="box-6">
      <img src="./images/Kari Squating.jpg" alt="" class="soc-exp">
    </div> -->

    <!-- <div class="card box-4" style="width: 20rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card box-5" style="width: 20rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
<div class="card box-6" style="width: 20rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->

  </div>

  <div class="parallax-3"></div>

</div>
<script type="text/javascript">
  TweenMax.from(".title", 2, {
    opacity: 0,
    scale: 0,
    ease: Power0.easeOut
  });


  $(document).ready(function() {
    $(this).scrollTop(0);
  });

  function debounce(func, wait = 20, immediate = true) {
    var timeout;
    return function() {
      var context = this,
        args = arguments;
      var later = function() {
        timeout = null;
        if (!immediate) func.apply(context, args);
      };
      var callNow = immediate && !timeout;
      clearTimeout(timeout);
      timeout = setTimeout(later, wait);
      if (callNow) func.apply(context, args);
    };
  };


  $(window).scroll(function() {
    var hT = $('.slide-in1').offset().top,
      hH = $('.slide-in1').outerHeight() / 3,
      wH = $(window).height(),
      wS = $(this).scrollTop();
    if (wS > (hT + hH - wH)) {
      $('.slide-in1').addClass('active1');
    } else if (wS < (hT + (hH * 2) - wH)) {
      $('.slide-in1').removeClass('active1');
    };

    var hT2 = $('.slide-in2').offset().top,
      hH2 = $('.slide-in2').outerHeight() / 3,
      wH2 = $(window).height(),
      wS2 = $(this).scrollTop();
    if (wS2 > (hT2 + hH2 - wH2)) {
      $('.slide-in2').addClass('active2');
    } else if (wS2 < (hT2 + (hH2 * 2) - wH2)) {
      $('.slide-in2').removeClass('active2');
    };

  });

  window.addEventListener('scroll', debounce(checkSlide));
</script>
