<!DOCTYPE html>
<div class="page-body">
  <nav class="navbar navbar-fixed-top sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="./images/Kari Logo.svg" alt="Flower" class="flower"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
                   <li class="">
                       <a ui-sref="coach" class="home-links-nav bckd-img1" id="bckd-img1">Coaching</a>
                   </li>
                   <li class="nav-item active">
                       <a ui-sref="work" class="home-links-nav bckd-img5" id="bckd-img2">Work With Me</a>
                   </li>
                   <li class="nav-item active">
                       <a ui-sref="start" class="home-links-nav bckd-img3" id="bckd-img3">Start Here</a>
                   </li>
                   <li class="nav-item active">
                       <a ui-sref="test" class="home-links-nav bckd-img5" id="bckd-img5">Success Stories</a>
                   </li>
                   <li class="nav-item active">
                       <a ui-sref="blog" class="home-links-nav bckd-img4" id="bckd-img4">Blog</a>
                   </li>
        </li>
      </ul>
    </div>
  </nav>
  <!-- <div id="dialog" title="Kari's Story">
    <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
  </div> -->

  <!-- <div class="">
    <div class="title-bar">
      <span class="page-title title">Start Here</span>

      <img src="./images/nest.jpg" class="slides" alt="">

    </div> -->
    <!-- <div class="now"> -->
    <div class="title-bar-start">
      <h1 class="page-title-start title">Start Here</h1>
    </div>

<div class="grid-1">




</div>


      <div class="column-1">
        <h1 class="dummy-text">Start right now...</h1>

        <p class="dummy-text">Kari Blurb</p>
        <p class="dummy-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Venenatis a condimentum vitae sapien pellentesque habitant morbi. Morbi tincidunt augue interdum velit euismod in pellentesque.
          Auctor urna nunc id cursus metus aliquam eleifend mi. Auctor neque vitae tempus quam pellentesque nec nam. Augue ut lectus arcu bibendum at varius. Magna ac placerat vestibulum lectus mauris ultrices eros. Egestas egestas fringilla phasellus
          faucibus scelerisque eleifend donec pretium. Molestie ac feugiat sed lectus. Tincidunt tortor aliquam nulla facilisi cras fermentum odio eu feugiat. Est velit egestas dui id ornare.</p>
      </div>
      <div class="column-2">
        <img src="./images/KariHairUp2Focus.jpg" alt="" class="somebody slide-in1 align-right1">
      </div>
    </div>
    <!-- </div> -->
    <div class="parallax filter centered-text">
      <p class="unstoppable">Be fearless and unstoppable!</p>
    </div>

    <div class="social-box">
      <h1 class="social">Social</h1>
    </div>

    <div class="container-fluid social-cards">
      <div class="card post-cards" style="width: 20rem;" ng-repeat="post in posts">
        <a ng-click="getPost(post._id)" href="{{post.link}}" target="_blank" class="top"><img class="card-img-top" src="{{post.pic[0].url}}" alt="Card image cap"></a>
        <div class="card-body">
          <a href="{{post.link}}" target="_blank">
            <p class="card-text">{{post.name}}</p>
            <a href="{{post.link}}"><img class="social-icon" src="{{post.icon}}" alt=""></a>
          </a>
        </div>
      </div>
    </div>

<!-- <div class="container-fluid social-cards">
    <div class="card post-cards" style="width: 20rem;">
      <a href="{{post.link}}" target="_blank">
      <img class="card-img-top" src="..." alt="Card image cap" src="{{post.icon}}">
      <div class="card-block">
        <h4 class="card-title">{{post.name}}</h4>
        <p class="card-text">{{post.name}}</p>
        <a href="#" class="btn btn-primary"><img class="social-icon" src="{{post.icon}}" alt=""></a>
      </div>
    </div>
  </div> -->

    <div class="parallax"></div>



  </div>

</div>

</div>

<script type="text/javascript">
  // $(function() {
  //   $("#dialog").dialog({
  //     resizable: true
  //   });
  //   $('.page-body').css('filter', 'blur(5px)');
  // });
  // $(function() {
  //   $('button.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close').click(function() {
  //     $('.page-body').css('filter', 'blur(0)');
  //   });
  // });

  TweenMax.from(".title", 2, {
    opacity:0,
    scale: 0,
    ease: Power0.easeOut
  });


  $(document).ready(function(){
    $(this).scrollTop(0);
});

function debounce(func, wait = 20, immediate = true) {
  var timeout;
  return function() {
    var context = this,
      args = arguments;
    var later = function() {
      timeout = null;
      if (!immediate) func.apply(context, args);
    };
    var callNow = immediate && !timeout;
    clearTimeout(timeout);
    timeout = setTimeout(later, wait);
    if (callNow) func.apply(context, args);
  };
};


$(window).scroll(function() {
  var hT = $('.slide-in1').offset().top,
    hH = $('.slide-in1').outerHeight() / 3,
    wH = $(window).height(),
    wS = $(this).scrollTop();
  if (wS > (hT + hH - wH)) {
    $('.slide-in1').addClass('active1');
  } else if (wS < (hT + (hH * 2) - wH)) {
    $('.slide-in1').removeClass('active1');
  };

});

window.addEventListener('scroll', debounce(checkSlide));

TweenMax.from(".title", 2, {
  opacity:0,
  scale: 0,
  ease: Power0.easeOut
});

</script>
</script>
