<!DOCTYPE html>
<div class="page-body flower1">
  <nav class="navbar navbar-fixed-top sticky-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="./images/Kari Logo.svg" alt="Flower" class="flower"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
                   <li class="">
                       <a ui-sref="coach" class="home-links-nav bckd-img1" id="bckd-img1">Coaching</a>
                   </li>
                   <li class="nav-item active">
                       <a ui-sref="work" class="home-links-nav bckd-img5" id="bckd-img2">Work With Me</a>
                   </li>
                   <li class="nav-item active">
                       <a ui-sref="start" class="home-links-nav bckd-img3" id="bckd-img3">Start Here</a>
                   </li>
                   <li class="nav-item active">
                       <a ui-sref="test" class="home-links-nav bckd-img5" id="bckd-img5">Success Stories</a>
                   </li>
                   <li class="nav-item active">
                       <a ui-sref="blog" class="home-links-nav bckd-img4" id="bckd-img4">Blog</a>
                   </li>
        </li>
      </ul>
    </div>
  </nav>
  <!-- <div id="dialog" title="Kari's Story">
  <p>This is the default dialog which is useful for displaying information. The dialog window can be moved, resized and closed with the 'x' icon.</p>
  </div> -->
  <div class="grid-test-all">


<div class="title-bar-test">
  <h1 class="page-title-test title">Success Stories</h1>
</div>
<div class="vine">
  <img src="./images/VineLongGold.svg" alt="">
</div>
<div class="">
<div class="grid-2">
<div class="test-column-1">
<img src="./images/Desiree.jpg" alt="" class="test-img1">
</div>
<div class="test-column-2">
  <blockquote>
    "Kari Albro is a great coach. She helped me to get clear about how to move forward and enjoy the process of learning, building a business and doing stuff I enjoy. Thank you for staying in the moment, and not moving until we got clarity."
  </blockquote>
  <cite>Desiree G.</cite>
</div>
</div>
</div>

<div class="vine">
  <img src="./images/VineLongGold.svg" alt="">
</div>

<div class="">
<div class="grid-3">
  <div class="test-column-3">
    <blockquote>
      "I would like to share my journey and sessions I am doing with Kari Albro. It has been a tremendous encouragement and inspiration to grow and find positive and healthy ways to improve many aspects, especially eating, of my life. She has affirmed and celebrated my person and has helped explore new dimensions. Her insight, empathy, maturity and capability have been outstanding. I find it a life experience and need for others to come beside me to actualyze the best I am and can be. Kari has been that and is an excellent coach. I arecommend her enthusiastically and this program to all. Best."
    </blockquote>
    <cite>Karma J.</cite>

  </div>
  <div class="test-column-4">
    <img src="./images/Karma.jpg" alt="" class="test-img2">
  </div>

</div>
</div>
<div class="vine">
  <img src="./images/VineLongGold.svg" alt="">
</div>
<div class="">
<div class="grid-4">
<div class="test-column-5">
<img src="./images/Jennifer.jpg" alt="" class="test-img1">
</div>
<div class="test-column-6">
  <blockquote>
    "Kari and her 90-day program are such a blessing for me. I have already made much more progress working with her in these last weeks than I made in 2 months. She keeps me on task, challenges me to stretch myself, and gently helps me see where I might be standing in my own way and then she helps me work through thta so I can continue to move forward. She probides me with exactly what I need to make steady progress toward my goals and I will definitely continue working with her. Kari is a wonderful coach and mentor!"
  </blockquote>
  <cite>Jennifer L.</cite>
</div>
</div>
</div>
<div class="vine">
  <img src="./images/VineLongGold.svg" alt="">
</div>

<div class="">
<div class="grid-3">
  <div class="test-column-3">
    <blockquote>
      "I appreciated that she took the time to really listen and understand the situation from my point of view. Kari is a thorough Coach and I recommend her services."
    </blockquote>
    <cite>Stacy Thrall -CHC</cite>

  </div>
  <div class="test-column-4">
    <img src="./images/Stacy.jpg" alt="" class="test-img2">
  </div>

</div>
</div>
</div>
</div>
<script type="text/javascript">
// $(function() {
//   $("#dialog").dialog({
//     resizable: true
//   });
//   $('.page-body').css('filter', 'blur(5px)');
// });
// $(function() {
//   $('button.ui-button.ui-corner-all.ui-widget.ui-button-icon-only.ui-dialog-titlebar-close').click(function() {
//     $('.page-body').css('filter', 'blur(0)');
//   });
// });

TweenMax.from(".title", 2, {
  opacity:0,
  scale: 0,
  ease: Power0.easeOut
});

$(document).ready(function(){
    $(this).scrollTop(0);
});
</script>
<style media="screen">
  .home-title {
    display: none !important;
  }
</style>
