<!DOCTYPE html>
<div class="">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"><img src="./images/Flower.png" alt="Flower" class="flower"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
                     <a ui-sref="life" class="home-links-nav bckd-img1" id="bckd-img6">Life</a>
                 </li>
                   <li class="">
                       <a ui-sref="coach" class="home-links-nav bckd-img1" id="bckd-img1">Coaching</a>
                   </li>
                   <li class="nav-item active">
                       <a ui-sref="wellness" class="home-links-nav bckd-img5" id="bckd-img5">Wellness</a>
                   </li>
                   <!-- <li class="">
                       <a ui-sref="about" class="home-links bckd-img2" id="bckd-img2">About Me</a>
                   </li> -->
                   <li class="nav-item active">
                       <a ui-sref="start" class="home-links-nav bckd-img3" id="bckd-img3">Start Here</a>
                   </li>
                   <li class="nav-item active">
                       <a ui-sref="work" class="home-links-nav bckd-img5" id="bckd-img2">Work With Me</a>
                   </li>
                   <li class="nav-item active">
                       <a ui-sref="test" class="home-links-nav bckd-img5" id="bckd-img5">Success Stories</a>
                   </li>
                   <li class="nav-item active">
                       <a ui-sref="blog" class="home-links-nav bckd-img4" id="bckd-img4">Blog</a>
                   </li>
        </li>
      </ul>
      <!-- <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form> -->
    </div>
  </nav>
<div class="title-bar">
  <h1 class="page-title"><a ui-sref="home" class="home-link">Work With Me</a></h1>
</div>

</div>
