/*font-family: 'Open Sans', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Catamaran', sans-serif;
font-family: 'Crimson Text', serif;
font-family: 'Dancing Script', cursive;*/
/*font-family: 'Karma', serif;*/

nav {
  background-color: transparent;
}

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }


body {
  margin: 0;
  border: 0;

}

.hero {
  display: flex;
  z-index: -99;
  /*-webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translate3D(0, 0, 0);
  -moz-transform: translate3D(0, 0, 0);
  -o-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0);*/
}

.home-title{
  position: absolute;
  font-family: 'Karma', serif;
  font-size: 5vw;
  padding-top: 5vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

/*Home Page*/
#hero {
  background-image: url("/images/Feetblur2FocusInt.jpg");
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
  height: 100vh;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -o-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
  -moz-animation-name: fadeIn;
  -o-animation-name: fadeIn;
  -ms-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-transition: background .7s linear;
  -moz-transition: background .7s linear;
  -o-transition: background .7s linear;
  -ms-transition: background .7s linear;
  transition: background .7s linear;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.space {
  width: 100vw;
  height: 32vh;
}

.kac {
  font-family: 'Karma', serif;
  text-align: center;
  margin: 0 auto;
  padding-top: 3vw;
  font-size: 5vw;
  align-self: center;
  text-shadow: 5px solid #a9216b;
}

/*Non-Header Links*/
.no-bullets {
    list-style-type: none;
}

.header {
  padding-left: 0;
  width: 100vw;
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  text-shadow: 2px 2px maroon;
  margin: 0;
    color: white;
    text-decoration: none !important;
    z-index: 100;
}


.header-ul {
  padding:30vh 0 0 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around !important;
  justify-content: center;
  font-family: 'Sacrmento', cursive;
  text-shadow: 2px 2px #a9216b;
  font-size: 2.7em;
  margin: 0;
    -webkit-background-clip: text;
    color: rgb(125, 24, 14);
    text-decoration: none !important;
    z-index: 100;
}

.home-links  {
  text-decoration: none;
  color: white;
  font-family: 'Sacramento', cursive;
  font-size: .8em;
  -webkit-transition: all .2s ease-in-out;
  -webkit-transform: scale(1);
  -ms-transition: all .2s ease-in-out;
  -ms-transform: scale(1);
  -moz-transition: all .2s ease-in-out;
  -moz-transform: scale(1);
  transition: all .2s ease-in-out;
  transform: scale(1);
}

.home-links:hover  {
  text-decoration: none;
  color: white;
  font-family: 'Sacramento', cursive;
  font-size: 1.3em;
  -webkit-transition: all .2s ease-in-out;
  -webkit-transform: scale(1.2);
  -ms-transition: all .2s ease-in-out;
  -ms-transform: scale(1.2);
  -moz-transition: all .2s ease-in-out;
  -moz-transform: scale(1.2);
  transition: all .2s ease-in-out;
  transform: scale(1.2);
}

.home-links-nav  {
  text-decoration: none;
  color: black;
  font-family: 'Karma', serif;
  font-size: 1.3vw;
  padding: 3px 20px;
}

.kari-title {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 1;
  font-family: "Karma", serif !important;
  color: white !important;
  text-shadow: 2px 2px #a9216b;
  font-size: 5vw;
  margin: 0 auto;
  padding: 5vh 0;
}

.link-1 {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0 5vw;
  padding: 5vw 0;
  font-family: 'Sacramento', cursive;
  text-shadow: 2px 2px #a9216b;
  font-size: 2.7em;
  color: white;
  text-decoration: none !important;
}

.link-2 {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 5;
  margin: 0 5vw;
  padding: 5vw 0;
  font-family: 'Sacramento', cursive;
  text-shadow: 2px 2px #a9216b;
  font-size: 2.7em;
  color: white;
  text-decoration: none !important;
}

.link-3 {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 3;
  grid-column-end: 5;
  margin: 0 5vw;
  padding: 5vw 0;
  font-family: 'Sacramento', cursive;
  text-shadow: 2px 2px #a9216b;
  font-size: 2.7em;
  color: white;
  text-decoration: none !important;
}

.link-4 {
  grid-row-start: 3;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: -1;
  margin: 0 5vw;
  padding: 5vw 0;
  font-family: 'Sacramento', cursive;
  text-shadow: 2px 2px #a9216b;
  font-size: 2.7em;
  color: white;
  text-decoration: none !important;
}

.link-5 {
  grid-row-start: 2;
  grid-row-end: 2;
  grid-column-start: 5;
  grid-column-end: -2;
  margin: 0 5vw;
  padding: 5vw 0;
  font-family: 'Sacramento', cursive;
  text-shadow: 2px 2px #a9216b;
  font-size: 2.7em;
  color: white;
  text-decoration: none !important;
}

img.flower {
  width: auto;
  height: 5vw;
}

.home-links-start  {
  text-decoration: none;
  color: white;
  font-family: 'Sacramento', cursive;
  font-size: 2em;
}

.title {
  font-family: 'Sacramento', cursive;
  font-size: 4.5em;
  /*color: white;*/
  color: rgba(0,0,0,0);
  /*text-shadow: 2px 2px maroon;*/
  text-align: center;
}

.home-link {
  color:white;
  text-decoration: none !important;
  display: block;
  text-shadow: 10px 10px 35px black;
}

h1.name {
  margin-bottom: 0;
}
.logo {
  width: 20vw;
  height: auto;
  display: inline-block;
  float: left;
  padding-top: 20vh;
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 100;
  opacity: .7;
  pointer-events : none;
}

.logo-home-link {
  width: 100vw;
  height: auto;
  top: 20px;
  left: 20px;
}

.title-bar {
  width: 100vw;
  height: auto;
  padding: 0;
  margin: 0;
  /*background-color: rgb(251, 188, 0);*/
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(128, 0, 32, 0.55),
      rgba(128, 0, 32, 0.55)
    ),
    /* bottom, image */
  url('./images/fire.gif');
  background-size: cover;
}

.title-bar-life {
  width: 100vw;
  height: 50vh;
  padding: 0;
  margin: 0;
  background-color: #a9216b;
}

video.fire {
  position: absolute; // Play the video in full screen mode
  top: 0px;
  left: 0px;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; // Put the video behind all other elements
}

.title-bar-coach {
  width: 100vw;
  height: 50vh;
  padding: 0;
  margin: 0;
  /*background-color: #008ec2;*/
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(128, 0, 32, 0.55),
      rgba(128, 0, 32, 0.55)
    ),
    /* bottom, image */
  url('./images/fire.gif');
  background-size: cover;
}

.title-bar-start {
  width: 100vw;
  height: 50vh;
  padding: 0;
  margin: 0;
  /*background-color: #008ec2;*/
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(128, 0, 32, 0.55),
      rgba(128, 0, 32, 0.55)
    ),
    /* bottom, image */
  url('./images/fire.gif');
  background-size: cover;
}

.title-bar-wellness {
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #a9216b;
}

.title-bar-work {
  width: 100vw;
  height: 50vh;
  padding: 0;
  margin: 0;
  /*background-color: #a9216b;*/
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(128, 0, 32, 0.55),
      rgba(128, 0, 32, 0.55)
    ),
    /* bottom, image */
  url('./images/fire.gif');
  background-size: cover;
}

.title-bar-test {
  width: 100vw;
  height: auto;
  padding: 0;
  margin: 0;
  display: grid;
}

.test-grid-all {
  display: grid;
}

.left-side {
  display: inline-block;
  width: 50vw;
  height: 100vh:
  background-image: url('/images/nest.jpg');
}

.right-side {
  display: inline-block;
  width: 50vw;
  height: 100vh:
  background-color: rgba(251, 154, 53, .3);
}

.page-title {
  text-align: center;
  font-family: 'Karma', serif;
  color: white;
  font-size: 7vw;
  margin: auto 0;
  padding: .7em;
}

.title {
  text-align: center;
  margin: 0 auto;
}

.logo {
  position: absolute;
  width: 200px;
  height: 200px;
}


.page-title-life {
  text-align: center;
  font-family: 'Karma', serif;
  color: #f1efe6;
  font-size: 7vw;
  margin: auto 0;
  padding: .7em;
}

.page-title-coach {
  text-align: center;
  font-family: 'Karma', serif;
  color: white;
  font-size: 7vw;
  margin: auto 0;
  padding: .7em;
}

.page-title-start {
  text-align: center;
  font-family: 'Karma', serif;
  color: white;
  font-size: 7vw;
  margin: auto 0;
  padding: .7em;
  }

.page-title-wellness {
  text-align: center;
  font-family: 'Karma', serif;
  color: #4bf1ff;
  font-size: 10vw;
  margin: auto 0;
  padding-top: 1.5em;
  }

.page-title-work {
  text-align: center;
  font-family: 'Karma', serif;
  color: white;
  font-size: 7vw;
  margin: auto 0;
  padding: .7em;
}

.page-title-test {
  text-align: center;
  font-family: 'Karma', serif;
  /*text-shadow: 2px 2px 50px grey;*/
  /*background-color: #a9216b;*/
  color: white;
  font-size: 7vw;
  margin: 0;
  padding-top: .7em;
  /*animation-duration: 2s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  z-index: 1;*/
}

.ui-dialog {
  background-color: rgba(255,255,255,0.7);
  padding: 20px;
  z-index: 2;
  margin: 0 auto;
}

body > div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-draggable.ui-resizable > div.ui-dialog-titlebar.ui-corner-all.ui-widget-header.ui-helper-clearfix.ui-draggable-handle > button {
  background-color: white !important;
  border: 1px solid grey;
  border-radius: 5%;
}

body > div.hero.w3-container.w3-center.w3-animate-opacity > ui-view > div > form > button {
  background-color: #a9216b;
  color: white;
  border: 1px solid black;
  font-family: 'Karma', cursive;
}

body > div.hero.w3-container.w3-center.w3-animate-opacity > ui-view > div > form > div:nth-child(6) > button {
  background-color: #a9216b;
  color: white !important;
  border: 1px solid black;
  font-family: 'Karma', cursive;
  width: 100%;
  border-top-left-radius: 4px!important;
  border-bottom-left-radius: 4px!important;
}

body > div.hero.w3-container.w3-center.w3-animate-opacity > ui-view > div > div.well-button > button {
  background-color: #a9216b;
  color: white;
  border: 1px solid black;
  font-family: 'Karma', cursive;
  text-decoration: none !important;
}

body > div.hero.w3-container.w3-center.w3-animate-opacity > ui-view > div > form > div.input-group-btn > button {
  background-color: #a9216b;
  color: white;
  border: 1px solid black;
  font-family: 'Karma', cursive;
  text-decoration: none !important;
  border-top-left-radius: 4px!important;
  border-bottom-left-radius: 4px!important;
  width: 100%;
}

a.work-button {
  text-decoration: none !important;
}

button.btn.btn-default {
  transition: all .2s ease-in-out;
}

button.btn.btn-default:hover {
  transform: scale(1.1);
  background-color: #4bf1ff;
  box-shadow: 5px 5px 50px black;
}

body > div.hero.w3-container.w3-center.w3-animate-opacity > ui-view > div > div.well-button {
  padding-bottom: 5px;
}

body > div.hero.w3-container.w3-center.w3-animate-opacity > ui-view > div > form {
    padding-bottom: 5px;
}

body > div.hero.w3-container.w3-center.w3-animate-opacity > ui-view > div > div.well-button > button {
  width: 33vw;
}

img.slides {
  width: 30vw;
  height: 20vw;
  overflow: hidden;
  border: 5px solid rgb(170, 41, 0);
  filter: drop-shadow(8px 8px 20px gray);
  margin: 8em;
}

body > div.hero.w3-container.w3-center.w3-animate-opacity > ui-view > div > div:nth-child(2) > div.title-bar > img {
  width: 30vw;
  height: 20vw;
  overflow: hidden;
  border: 5px solid rgb(170, 41, 0);
  filter: drop-shadow(8px 8px 20px gray);
  margin: 8em;
  position: relative;
}

.quest {
  padding: 3em;
}

img.kari-quest {
  top: -10vh;
  width: 100vw;
  height: auto;
  overflow: hidden;
  border: 5px solid black;
}

.fade-in {
  animation-name: fadeIn;
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
}

.banner {
  width: 100vw;
  height: auto;
}

/*About Me*/
.slides {
  width: 50vw;
  height: auto;
  animation-duration: 3s;
  animation-fill-mode: both;
  animation-name: fadeIn;
  -webkit-animation-delay: 1; /* Safari 4.0 - 8.0 */
    animation-delay: 1s;
}

.left {
  float: left;
  width: 65%;
  overflow: hidden;
  float: left;
  background-color: #9cfaff;;
}

.left2 {
  width: 40;
  height: auto;
  margin: 0 auto;
  float: left;
}


.right {
  overflow: hidden;
  background-color: rgb(30, 44, 209);
}

.about {

}

.left-pic1 {
  padding: 7vw;
  display: block;
  margin: o auto;
}

.left-pic2 {
  padding: 7vw;
  display: block;
  margin: 0 auto;
}

.left-pic1-size {
  width: 30vw;
  height: auto;
  border-radius: 50% 50% 50% 0;
  padding: 3em;
}

.journey {
  font-family: 'Sacramento', cursive;
  text-align: center;
  color: #cb2305;
  text-shadow: 10px 10px 15px grey;
  font-size: 4vw;
  padding-top: 1em;
}

.text {
  font-family: 'Karma', serif;
  font-size: 1.3vw;
  text-align: center;
}

.text2 {
  font-family: 'Karma', serif;
  text-align: center;
}

.align-left {
  float:left;
  margin-right:20px;
}

.align-right {
  float:right;
  margin-left:20px;
}

.slide-in {
  opacity:0;
  transition:all .5s;
}

.align1.slide-in {
  transform:translateX(-110%) scale(0.95);
}

.align2.slide-in {
  transform:translateX(-110%) scale(0.95);
}
.align-right.slide-in {
  transform:translateX(110%) scale(0.95);
}

.slide-in.active {
  opacity:1;
  transform:translateX(20%) scale(1);
}

.left {
  background-color: rgb(198, 52, 120);
}

.right {
  background-color: rgb(221, 128, 21);
}
.grid-start {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0;
}
.column-1 {
  height: auto;
  width: 50vw;
  background-color: #f1efe6;
  text-align: center;
  margin: 0 auto;
  padding: 2em;
  /*display: table-cell;
  vertical-align: top;*/
}

.column-2 {
  height: auto;
  width: 50vw;
  background-color: #a9216b;
  text-align: center;
  margin: 0 auto;
  padding: 2em;
  /*display: table-cell;
  vertical-align: top;*/
}

.test-column-1 {
  text-align: center;
  margin: 0;
  padding: 2em;
  display: table-cell;
  vertical-align: top;
}

.test-img1 {
  border: 5px solid #4bf1ff;
  border-radius: 50%;
  width: 10vw;
  height: auto;
}

.test-column-2 {
  text-align: center;
  margin: 0 auto;
  padding: 2em;
  display: table-cell;
  vertical-align: top;
  color: white;
  font-family: 'Karma', cursive;
  font-size: 1em;
}


.test-column-3 {
  text-align: center;
  margin: 0 auto;
  padding: 2em;
  display: table-cell;
  vertical-align: top;
  color: white;
  font-family: 'Karma', cursive;
  font-size: 1em;
}


.test-img2 {
  border: 5px solid #4bf1ff;
  border-radius: 50%;
  width: 10vw;
  height: auto;
  margin: 0 auto;
}

.test-column-4 {
  text-align: center;
  margin: 0;
  padding: 2em;
  display: table-cell;
  vertical-align: top;
}

.test-column-5 {
  text-align: center;
  margin: 0;
  padding: 2em;
  display: table-cell;
  vertical-align: top;
}

.test-img3 {
  border: 5px solid #4bf1ff;
  border-radius: 50%;
  width: 10vw;
  height: auto;
}

.test-column-6 {
  text-align: center;
  margin: 0 auto;
  padding: 2em;
  display: table-cell;
  vertical-align: top;
  color: white;
  font-family: 'Karma', cursive;
  font-size: 1em;
}

.flower1{
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(246, 153, 48, 0.55),
      rgba(246, 153, 48, 0.55)
    ),
    /* bottom, image */
    url('./images/Flower 3 slow.gif');
  background-position: center;
  background-size: cover;
  /*filter: opacity(.5);*/
}

.somebody {
  width: 40vw;
  height: auto;
  padding: 0;
  margin: 0 auto;
  border: 3px solid #008ec2;
  box-shadow: 10px 10px 50px black;
}

.parallax {
    /* The image used */
    background-image: url('./images/Kari Lake Spring.jpg');
    display: block;
    /* Full height */
    height: 100vh;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.vine {
  width: 100vw;
  height: auto;
}

div.vine > img {
  width: 100vw;
  height: auto;
}

.start-grid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 25% 25% 25% 25%;
}

.grid-1 {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0;
}

.grid-2 {
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 0;
  margin: 0;
}

.grid-3 {
  display: grid;
  grid-template-columns: 75% 25%;
  padding: 0;
}

.grid-4 {
  display: grid;
  grid-template-columns: 25% 75%;
  padding: 0;
}



.dummy-text {
  font-size: 1.3vw;
}

.blog {
  display: flex;
  margin-left: 0 auto;
  padding: 0;
}
.page-body {
  width: 100vw;
  height: auto;
}

.start {
font-family: 'Sacramento', cursive;
text-align: center;
color:#cb2305;
text-shadow: 10px 10px 15px grey;
font-size: 4vw;
padding-top: 1em;
}

.appointments {
  display: flex;
  width: 33vw;
  height: auto;
  flex-direction: row;
}

.align-right1 {
  float: right;
  margin-right: 20px;
}

.align-right1.slide-in1 {
  transform: translateX(55%) scale(0.95);
}

.slide-in1 {
  opacity: 0;
  transition: all 1s;
}

.slide-in1.active1 {
  opacity: 1;
  transform: translateX(0%) scale(1);
}

.work-with-me {
  width: 33vw;
  height: auto;
  flex-direction: row;
  background-color: rgba(240, 159, 37, .8)
}

.success-stories {
  width: 33vw;
  height: auto;
  flex-direction: row;
}

.footer {
  font-family: 'Sacramento', cursive;
  text-align: center;
  font-size: 2em;
  color: #cb2305;
  height:7vh;
  padding-top: 5vh;
}

.social {
  font-family: 'Karma', serif;
  background-color:  #f1efe6;
  text-align: center;
  margin: auto 0;
  padding-top: 2vw;
}

div.card.post-cards.ng-scope {
  width: 150px;
  height: 170px;
  overflow: hidden;
  background-color: #f1efe6;
  background-image: url({{post.pic[0].url}});
  flex: 0 10 auto;
  }

div.container-fluid.social-cards {
   font-family: 'Karma', serif;
   background-color:  #F1efe6;
   z-index: 3;
   position:absolute;

}

div.card-body {
  width: 150px;
  height: 100vh;
  color: #ED8B39 !important;
  text-decoration: none;
}

p.card-text.ng-binding {

}

img.card-img-top {
  overflow: hidden;
  margin: auto 0;
  object-fit: cover;
}

.social-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 5vw;

}

.social-icon {
  width: 25px;
  position: absolute;
  right: 5px;
  bottom: 5px;
}

.post-cards {
  box-shadow: 5px 5px 50px #ee55ff
}

.centered-text {
  vertical-align: middle;
}

.unstoppable {
  font-family: 'Sacramento', cursive;
  font-size: 7vw;
  text-align: center;
  margin: auto 0;
  color: #cb2305;
  vertical-align: middle;
  padding-top: 45vh;
}

.life-pics {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
}

.life-pic {
  width: 30vw;
  height: 20vw;
  overflow: hidden;
  border: 5px solid #a9216b;
  filter: drop-shadow(8px 8px 20px gray);
  margin: 8em;
}

form.questionaire {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 20vw;
  padding-right: 20vw;
}

.life-input {

}

.words-life {
  background-color: #f1efe6;
  width: 100vw;
  height: 40vh;
  margin: auto 0;
  padding: 8em;
}

.column-3 {
  background-color: #f1efe6;
  width: 50vw;
  height: auto;
  margin: auto 0;
  vertical-align: top;
}

.column-4 {
  background-color: #a9216b;
  width: 50vw;
  height: auto;
  margin: auto 0;
  vertical-align: top;
}

.words-title {
  text-align: center;
}

.words-paragraph {
  text-align: center;
}

.coach-desc {
  margin: auto 0;
  text-align: center;
  padding: 8em
}

.coach-pic {
margin: auto;
width: 50%;
padding: 10px;
}

.work-desc {
  margin: auto 0;
  text-align: center;
  padding: 8em;
  background-color: #f1efe6;
}

.work-pic {
margin: auto;
width: 50%;
padding: 10px;
}

.well-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.wellness-pics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.well-pic {
  width: 30vw;
  height: 20vw;
  overflow: hidden;
  border: 5px solid #a9216b;
  filter: drop-shadow(8px 8px 20px gray);
  margin: 8em;
}

.quest-title {
  text-align: center;
  font-size: 6vw;
  margin: 0 auto;
  color: #a9216b;
  position: absolute;
  top: 10vw;
  left: 15vw;
}

.kari-coach-pic {
  width: 60vw;
  height: auto;
  margin: 8em;
}

.ocean-pic {
    width: 100vw;
    height: auto;
}

.coach-title {

}

.coach-paragraph {

}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@media only screen and (max-width: 900px){
  .header {
    padding-left: 0;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 2px 2px maroon;
    margin: 0;
    color: rgb(125, 24, 14);
    text-decoration: none !important;
  }


  .header-ul {
    padding-left: 0;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 2px 2px maroon;
    font-size: 2.7em;
    margin: 0;
      color: rgb(125, 24, 14);
      text-decoration: none !important;
  }

  ul.no-bullets.header-ul {
    padding: 1em;
    text-align: center;
  }
  li {
    width: 100vw;
    text-align: center;
  }

  .logo {
    width: 40vw;
    height: auto;
    display: inline-block;
    float: left;
    padding-top: 20vh;
    position: absolute;
    bottom: 15px;
    left: 15px;
    z-index: 100;
    opacity: .5;
  }

  .journey {
    font-family: 'Sacramento', cursive;
    text-align: center;
    color:#cb2305;
    font-size: 6vw
    padding-top: 2.5em;
  }

  .text {
    font-family: 'Karma', serif;
    font-size: 2vw;
    text-align: center;
  }

  .text2 {
    font-family: 'Karma', serif;
    font-size: 3vw;
    text-align: center;
  }

  br {
    display: none;
  }

  .left {
    width: 100%;
    height: auto;
  }

  .left2 {
    display: none;
  }


  .right {
  width: 90vw;
  height: auto;
  padding: 5vw;
  float: none;
  }

  .align2.slide-in {
    transform:translateX(100%) scale(0.95);
  }

  .align1.slide-in {
    opacity:1;
    transform:translateX(50%) scale(1);
    animation-duration: 5s;
    animation-fill-mode: both;
    animation-name: fadeIn;
  }

  .home-links {
    text-decoration: none !important;
    color: white;
    font-family: 'Sacramento', cursive;
    font-size: 7vw;
    text-align: center;
    line-height: 1px;
    margin: 0;
    padding: 0;
  }

  .home-links-nav  {
    text-decoration: none;
    color: #cb2305;
    font-family: 'Karma', serif;
    font-size: 2em;
    padding: 0;
  }

  div > ul.no-bullets.header-ul {
    padding: 0;
    margin: auto;
  }

  nav.navbar.navbar-expand-lg.navbar-light.bg-light {
    padding: 0;
  }

button.navbar-toggler {
  margin-right: 5px;
}

  .footer {
    font-family: 'Sacramento', cursive;
    text-align: center;
    font-size: 3vw;
    color: #cb2305;
    padding-top: 5vh !important;
  }

  img.flower {
    width: auto;
    height: 3em;
  }

  .dummy-text {
    font-size: 3.5vw;
    padding: 5em;
    text-align: center;
    margin: auto 0;
  }

  .grid-1 {
    display: grid;
    grid-template-columns: 100%;
    padding: 0;
  }

  .column-1 {
    height: auto;
    width: 100vw;
    background-color: #f1efe6;
    text-align: center;
    margin: auto 0;
    padding: 2em;
    /*display: table-cell;
    vertical-align: top;*/
  }

  .column-2 {
    height: auto;
    width: 100vw;
    background-color: #a9216b;
    text-align: center;
    margin: auto 0;
    padding: 2em;
    /*display: table-cell;
    vertical-align: top;*/
  }

  .somebody {
    width: 80vw;
    height: auto;
    padding: 0;
    margin: 0 auto;
    border: 3px solid #008ec2;
    box-shadow: 10px 10px 50px black;
  }

  .align-right1 {
    float: right;
    margin-right: 5vw;
  }

  .align-right1.slide-in1 {
    transform: translateX(55%) scale(0.95);
  }

  .slide-in1 {
    opacity: 0;
    transition: all 1s;
  }

  .slide-in1.active1 {
    opacity: 1;
    transform: translateX(0%) scale(1);
  }

}

@media only screen and (max-width: 500px){
  .header {
    padding-left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
    text-shadow: 2px 2px maroon;
    margin: 0;
    color: rgb(125, 24, 14);
    text-decoration: none !important;
  }


  .header-ul {
    padding-left: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    font-size: 2.7em;
    margin: 0;
      color: rgb(125, 24, 14);
      text-decoration: none !important;
  }

  ul.no-bullets.header-ul {
    padding: 1em;
    text-align: center;
  }

  li {
    width: 100vw;
    text-align: center;
  }

  .logo {
    width: 40vw;
    height: auto;
    display: inline-block;
    float: left;
    padding-top: 20vh;
    position: fixed;
    bottom: 5px;
    left: 5px;
    z-index: 100;
    opacity: .5;
  }

  .journey {
    font-family: 'Sacramento', cursive;
    text-align: center;
    color:#cb2305;
    font-size: 6vw
    padding-top: 2.5em;
  }

  .text {
    font-family: 'Karma', serif;
    font-size: 2vw;
    text-align: center;
  }

  .text2 {
    font-family: 'Karma', serif;
    font-size: 3vw;
    text-align: center;
  }

  br {
    display: none;
  }

  .left {
    width: 100%;
    height: auto;
    }

    .left2 {
      display: none;
    }

    .right {
    width: 90vw;
    height: auto;
    padding: 5vw;
    float: none;
    }

    .align2.slide-in {
      transform:translateX(100%) scale(0.95);
    }

    .align1.slide-in {
      opacity:1;
      transform:translateX(50%) scale(1);
      animation-duration: 15;
      animation-fill-mode: both;
      animation-name: fadeIn;
    }



      .home-links {
        text-decoration: none;
        color: white;
        font-family: 'Sacramento', cursive;
        font-size: 7vw;
        line-height: .5;
      }

      .home-links-li {
        text-align: center;
        margin: 0 auto;
      }

/*
      .home-title {
        position: inherit;
        text-align: center;
        margin: 0 auto;
        align-self: center;
        font-family: "Karma", serif !important;
        color: white !important;
        text-shadow: 2px 2px #a9216b;
        font-size: 3vw;

      }*/

      .home-links-nav  {
        text-decoration: none;
        color: #cb2305;
        font-family: 'Karma', serif;
        font-size: 2em;
        padding: 0;
      }

      div > ul.no-bullets.header-ul {
        padding: 0;
        margin: auto;
      }

      nav.navbar.navbar-expand-lg.navbar-light.bg-light {
        padding: 0;
      }

      .footer {
        font-family: 'Sacramento', cursive;
        text-align: center;
        font-size: 3vw;
        color: #cb2305;
        padding-top: 5vh;
        pointer-events : none;
      }

      img.flower {
        width: auto;
        height: 3em;
      }

      .dummy-text {
        font-size: 3.5vw;
      }

      .grid-1 {
        display: grid;
        grid-template-columns: 100%;
        padding: 0;
      }

      .column-1 {
        height: auto;
        width: 100vw;
        background-color: #f1efe6;
        text-align: center;
        margin: auto 0;
        padding: 2em;
        /*display: table-cell;
        vertical-align: top;*/
      }

      .column-2 {
        height: auto;
        width: 100vw;
        background-color: #a9216b;
        text-align: center;
        margin: auto 0;
        padding: 2em;
        /*display: table-cell;
        vertical-align: top;*/
      }

      .somebody {
        width: 80vw;
        height: auto;
        padding: 0;
        margin: 0 auto;
        border: 3px solid #008ec2;
        box-shadow: 10px 10px 50px black;
      }

      .align-right1 {
        float: right;
        margin-right: 5vw;
      }

      .align-right1.slide-in1 {
        transform: translateX(55%) scale(0.95);
      }

      .slide-in1 {
        opacity: 0;
        transition: all 1s;
      }

      .slide-in1.active1 {
        opacity: 1;
        transform: translateX(0%) scale(1);
      }

}
